.markdown {
    @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
    @apply my-6;
}

.markdown pre {
    background-color: #1e1e1e;
    font-family: 'Fira Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono',
        monospace;
    font-weight: 500;
    /* font-size: 16px; */
    line-height: 1.5em;
    white-space: pre;
    padding: 3em 1em 1em 1em;
    margin: 0.5em 0 2em;
    box-shadow: rgba(0, 0, 0, 0.65) 0px 10px 20px;
    border-radius: 0.5em;
    overflow: auto;
    background-image: url(window-buttons_gt8xoXxWn.png);
    background-repeat: no-repeat;
    background-size: 44px 10px;
    background-position: 16px 14px;
}

.markdown :not(pre) > code {
    padding: 0.1em 0.3em;
    border-radius: 0.3em;
    color: #db4c69;
    background: #f9f2f4;
}

.markdown a {
    font-weight: 500;
    text-decoration: underline;
}

.markdown h1 {
    font-weight: 500;
    @apply text-3xl mt-16 mb-4 leading-snug;
}

.markdown h2 {
    font-weight: 500;
    @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
    font-weight: 500;
    @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown h4 {
    font-weight: 500;
    @apply text-2xl mt-4 mb-4 leading-snug;
}
